<div class="instructions-container">
  <h2 class="title">For the equids.</h2>

  <!-- <p>I've labeled all of the buckets with the names of the critter they belong to, as well as labels inside the grain scoops for the horses to hopefully make this as easy as possible.</p> -->

  <h3 class="section-title">Prep:</h3>
  <ol>
    <li>Remove all soaked grain buckets from the inside of the metal grain bins.</li>
    <li>Add a half scoop of Skin & Allergy to Spaceman's feed bucket.</li>
    <li>If the date is an odd day (ex: December 3), add one of the Previcox pills - already divided into quarters - into Hobbes' feed bucket.</li>
    <li>Fill the green bucket halfway with chaffhaye for Calvin.</li>
    <li>Fill up the rest of Hobbes' feed bucket with chaffhaye.</li>
  </ol>

  <h3 class="section-title">Feed:</h3>
  <ol>
    <li>Close the bottom half of the north barn door in Calvin's stall to keep him in.</li>
    <li>Give Calvin his two buckets, the chaffhaye and the soaked grain.</li>
    <li>Go into Hobbes' stall and shut the divider to keep Calvin in his own stall.</li>
    <li>Pour the contents of Hobbes' bucket into the big black bin (he's so messy!)</li>
    <li>Give the donkeys their feed buckets at the same time.</li>
  </ol>

  <h3 class="section-title">Once everyone has their grain:</h3>
  <ol>
    <li>Give Calvin one hay bag filled with hay from the loft.</li>
    <li>Give the donkeys the equivalent of 1/2 - 1 flake of hay and throw it outside next to the water trough.</li>
    <li>Once the donkeys are outside, shut the east barn door to keep them out of Hobbes' space.</li>
  </ol>

  <h3 class="section-title">Wait approximately 1-2 hours for Hobbes to finish. Once Hobbes is done:</h3>
  <ol>
    <li>Open the east barn door so Hobbes can exit the stalls.</li>
    <li>Open the divider between Calvin & Hobbes so Calvin can exit the stalls.</li>
    <li>If the weather is nice, open the north barn door in Calvin's stall.</li>
    <li>Place all hay bags in the barn isle so that the horses can reach them but the donkeys cannot.</li>
    <li>Check the water trough; top it up if necessary.</li>
  </ol>

  <h3 class="section-title">Prep for next meal:</h3>
  <ol>
    <li>Take the empty feed buckets back to the grain bins.</li>
    <li>
      <span class="lobster-font">Grass Pellets:</span>
      <ol type="a">
        <li class="smaller-font">Calvin: 1 quart</li>
        <li class="smaller-font">Hobbes: 3 quarts</li>
        <li class="smaller-font">Spaceman: 1/8 cup</li>
        <li class="smaller-font">Spiff: 1/4 cup</li>
      </ol>
    </li>
    <li>
      <span class="lobster-font">PGR:</span>
      <ol type="a">
        <li class="smaller-font">Calvin: 2 cups</li>
        <li class="smaller-font">Hobbes: 1 quart</li>
        <li class="smaller-font">Spaceman: none</li>
        <li class="smaller-font">Spiff: none</li>
      </ol>
    </li>
    <li>
      <span class="lobster-font">HES:</span>
      <ol type="a">
        <li class="smaller-font">Calvin: 2 cups</li>
        <li class="smaller-font">Hobbes: 1 quart</li>
        <li class="smaller-font">Spaceman: 1/8 cup</li>
        <li class="smaller-font">Spiff: 1/4 cup</li>
      </ol>
    </li>
    <li>Add water to feed buckets, just enough so that the water covers the grain.</li>
    <li>Place the water-filled grain buckets into the metal grain bins to keep them away from mice while they soak.</li>
  </ol>
</div>


<div class="equine-container">
  <br>
  <h2 class="title">TL;DR:</h2>
  <div class="calvin-container">
    <h3 class="section-title">Calvin</h3>
    <ul>
      <li>1 quart grass pellets</li>
      <li>2 cups PGR</li>
      <li>2 cups HES</li>
      <li>1/2 bucket chaffhaye</li>
      <li>one hay bag</li>
    </ul>
  </div>

  <div class="hobbes-container">
    <h3 class="section-title">Hobbes</h3>
    <ul>
      <li>3 quarts grass pellets</li>
      <li>1 quart PGR</li>
      <li>1 quart HES</li>
      <li>Fill his soaked grain bucket with chaffhaye</li>
      <li>1/4 Previcox pill every other day</li>
    </ul>
  </div>

  <div class="spaceman-container">
    <h3 class="section-title">Spaceman</h3>
    <ul>
      <li>1/8 cup grass pellets</li>
      <li>1/8 cup HES</li>
      <li>1/2 scoop Skin & Allergy powder</li>
      <li>1/2 - 1 flake of hay to share with Spiff</li>
    </ul>
  </div>

  <div class="spiff-container">
    <h3 class="section-title">Spiff</h3>
    <ul>
      <li>1/4 cup grass pellets</li>
      <li>1/4 cup HES</li>
      <li>1/2 - 1 flake of hay to share with Spaceman</li>
    </ul>
  </div>

  <p class="larger-font">Soak all of their grain for at least one hour, or all day / night is just fine. I usually prep and soak the next meal right after everyone has been fed.</p>

</div>

<div class="blanketing-instructions-container">

</div>

<div class="emergency-contacts-container">
  <h3 class="eci-title">Emergency Contact Information</h3>
  <ul>
    <li>
      <span>Sina Parsaye, DVM</span> – (719) 331-6081
    </li>
    <li>
      <span>Gretchen Topel</span> – (970) 217-6863
    </li>
    <li>
      <span>CSU Vet Hospital</span> – (970) 297-5000
    </li>
  </ul>
</div>
