@import '../variables.scss';

.instructions-container,
.equine-container,
.blanketing-instructions-container {
  width: 50%;
  margin-left: 25%;
  font-family: $khula;
}

.title {
  font-size: 3em;
  color: $purple;
  font-family: $abril-fatface;
  text-align: center;
}

.section-title {
  color: $red;
  font-family: $lobster;
  font-size: 2em;
  margin-bottom: 0;
}

li {
  font-size: 1.5em;
}

.smaller-font {
  font-size: 1em;
}

.larger-font {
  font-size: 1.5em;
}

.lobster-font {
  font-family: $lobster;
  color: $green;
}

.emergency-contacts-container {
  background-color: $red;
  width: 100%;
  padding: 0.5em;
  bottom: 0;

  .eci-title {
    color: white;
    font-family: $abril-fatface;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.1em;
  }

  ul {
    list-style-type: none;
    display: flex;

    li {
      text-align: center;
      width: 33%;

      span {
        font-weight: 700;
      }
    }
  }
}


@media only screen and (max-width: 850px) {
  .emergency-contacts-container {
    padding-left: 0;
    ul {
      display: block;
      margin: 0 !important;

      li {
        text-align: left;
      }
    }
  }
}
