@import '../variables.scss';

.instructions-container,
.equine-container,
.blanketing-instructions-container,
.blanket-rules-container {
  width: 50%;
  margin-left: 25%;
  font-family: $khula;
  font-size: 1.5em;
}

.title {
  font-size: 2em;
  color: $purple;
  font-family: $abril-fatface;
  text-align: center;
}

.section-title {
  color: $red;
  font-family: $lobster;
  font-size: 1.5em;
  margin-bottom: 0;
}

.smaller-font {
  font-size: 1em;
}

.center-align {
  text-align: center;
}

.lobster-font {
  font-family: $lobster;
  color: $green;
}

.no-font {
  font-family: $lobster;
  color: $red;
}

.feed-gifs {
  border-radius: 2em;
  border: 0.25em solid $green;
  margin-bottom: 1em;
}

.blanket-list-container {
  ol {
    list-style-type: none;
  }
}

.mobile-break {
  display: none;
}

.emergency-contacts-container {
  background-color: $red;
  width: 100%;
  padding: 0.5em;
  bottom: 0;
  font-size: 1.5em;

  .eci-title {
    color: white;
    font-family: $abril-fatface;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: 0.1em;
  }

  ul {
    list-style-type: none;
    display: flex;

    li {
      text-align: center;
      width: 33%;

      span {
        font-weight: 700;
      }
    }
  }
}


@media only screen and (max-width: 850px) {

  .instructions-container,
  .equine-container,
  .blanketing-instructions-container,
  .blanket-rules-container {
    width: 90%;
    margin-left: 5%;
    font-family: $khula;
    font-size: 1.5em;
  }

  .mobile-break {
    display: block;
  }

  .emergency-contacts-container {
    padding-left: 0;
    ul {
      display: block;
      margin: 0 !important;
      padding: 0;

      li {
        text-align: center;
        width: 100%;
      }
    }
  }
}
