<div class="location-container">
  <h1 class="location-title">Where are you?</h1>

  <a
    class="barn-container"
    routerLink="/barn">
    <img
      src="../assets/images/barn.png"
      alt="barn"
      class="location barn-img"
    >
    <p class="location-name barn-title">Barn</p>
  </a>

  <a
    class="house-container"
    routerLink="/house">
    <img
      src="../assets/images/house.png"
      alt="house"
      class="location house-img"
    >
    <p class="location-name house-title">House</p>
  </a>
</div>
