@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Khula:wght@300&family=Lobster&display=swap');


// fonts
$abril-fatface: 'Abril Fatface', serif;
$khula: 'Khula', sans-serif;
$lobster: 'Lobster', serif;

// colors
$green: #8eb8a8;
$yellow: #fdfbd0;
$orange: #fcceb7;
$red: #f4828c;
$purple: #775c6a;
