<div class="instructions-container">
  <h2 class="title">For the dogs</h2>

  <div class="finn-container">
    <h3 class="section-title">Finn</h3>
    <ol>
      <li>1 1/2 cups dry dog food</li>
      <li>1 Cosequin pill</li>
    </ol>
  </div>

  <div class="murphy-container">
    <h3 class="section-title">Murphy</h3>
    <ol>
      <li>1 cup dry dog food</li>
      <li>1/2 Cosequin pill, broken into small pieces</li>
      <li>1/2 Rimadyl pill, broken into two smaller pieces</li>
      <li>1 container wet dog food</li>
      <li>*** ONLY DINNER *** 3/4 Amantedine pill (yes... seriously, it's 3/4 pill)</li>
    </ol>
  </div>

  <div class="gif-container">
    <h3 class="section-title">Dry Dog Food</h3>
    <br>
    <img src="../assets/gifs/house/dog_kibble.gif" alt="dry food" class="feed-gifs">
  </div>

  <div class="gif-container">
    <h3 class="section-title">Pills & Wet Food</h3>
    <br>
    <img src="../assets/gifs/house/pills.gif" alt="pills and wet food" class="feed-gifs">
  </div>

  <div class="misc-container">
    <h3 class="section-title">Once their food is prepped:</h3>
    <ol>
      <li>Add some water to both bowls to slow them down while they eat.</li>
      <li>Mash up Murphy's wet food into her dry food.</li>
    </ol>

    <div class="gif-container">
      <h3 class="section-title">Feeding Time!</h3>
      <br>
      <img src="../assets/gifs/house/feeding_corners.gif" alt="feeding" class="feed-gifs">
    </div>

    <h3 class="section-title">Troubleshooting:</h3>
    <ul>
      <li>Sometimes Murphy doesn't finish her food. Throw in some yogurt, cottage cheese, or pumpkin and she'll usually finish it up. If not, just put her bowl on the counter and give it to her later. Otherwise, Finn will eat it and I don't want him consuming any of Murphy's pills.</li>
      <li>If Murphy's bowl is empty, it's totally fine if Finn wants to lick it clean but he has to wait until you tell him "ok."</li>
    </ul>
  </div>

</div>

<div class="emergency-contacts-container">
  <h3 class="eci-title">Emergency Contact Information</h3>
  <ul>
    <li>
      <span>Pet Wellness Clinic</span> <br>(970) 282-9719
    </li>
    <br class="mobile-break">
    <li>
      <span>CSU Vet Hospital</span> <br>(970) 297-5000
    </li>
  </ul>
</div>
